@import "media.css";

body{
  background-image: url("../img/start_img/new/fon.svg");
  background-position: left top;
}

#hero {
  height: 800px!important;
  overflow: hidden;
  position: relative;
}

#content {
  background-color: #fff;
}

.layer {
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}
.layer2 {
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 1600px;
  position: fixed;
  z-index: -1;
}

#hero-mobile {
  display: none;
  background: url("../img/start_img/mobile.gif") no-repeat left top/cover;
  background-size: 170%;
  height: 598px;
}

#hero, .layer {
  min-height: 800px !important;
}
/*.layer2 {*/
    /*height: 1600px;*/
/*}*/
.hamburger-inner{
    background-color: #bf436d;
}
.mt-story-index{
    margin-top: -25px;
    padding-bottom: 3em;
}
/*.layer-bg, .layer-1, .layer-2, .layer-3, .layer-4, .layer-overlay{*/
  /*width: 120%;*/
/*}*/


.layer-bg {
  background-image: url("../img/start_img/new/fon.jpg");
  background-position: left top;
}

.layer-1 {
  background-image: url("../img/start_img/new/3.svg");
  /*background-position: left bottom;*/
}

.layer-2 {
  background-image: url("../img/start_img/new/3.svg");
    /*background-position: left bottom;*/
}

.layer-3 {
  background-image: url("../img/start_img/start-img2.jpg");
  /*background-position: right bottom;*/
}

.layer-overlay {
    background-image: url("../img/start_img/oblaka.svg");
}


/*.layer-4 {*/
  /*background-image: url("../img/start_img/new/1.svg");*/
/*}*/

/*.img-start-story--top{*/
    /*margin-top: -150px !important;*/
/*}*/

.img-person-mobile{
  padding: 12% 0 0 0;
}