/*@media (width: 1920px) and (height: 1200px) {*/
    /*.footer-img-person{*/
        /*height: 250px !important;*/
        /*margin-top: 60px !important;*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 2880px)  {*/
    /*.footer-img-story {*/
        /*height: 300px;*/
        /*margin-top: 40px;*/
    /*}*/
/*}*/
/*@media only screen and (max-width: 2560px) {*/
    /*.footer-img-story{*/
        /*height: 250px;*/
        /*margin-top: 60px;*/
    /*}*/
    /*.footer-img-person{*/
        /*height: 250px;*/
        /*margin-top: 90px;*/
    /*}*/
/*}*/
/*@media only screen and (max-width: 2500px) {*/
    /*.footer-img-story{*/
        /*height: 250px;*/
        /*margin-top: 60px;*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 1680px) {*/
    /*.footer-img-story{*/
        /*height: 150px;*/
        /*margin-top: 40px;*/
    /*}*/
/*}*/
/*@media only screen and (max-width: 1440px) {*/
    /*.footer-img-story{*/
        /*height: 150px;*/
        /*margin-top: -80px;*/
    /*}*/
/*}*/

@media only screen and (max-width: 1080px){
    .p-20-10{
        padding: 10% 5% 0 0;
    }
    .p-15{
        padding: 10%;
    }
    .pl-10{
        padding-left: 0;
    }
    #hero {
        height: 350px;
    }
    .layer {
        height: 400px;
    }
    .img-start-story--top{
        margin-top: -30px;
    }
    #hero, .layer {
        min-height: 350px;
    }
    .p-tb-20{
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .mt-story{
        padding-bottom: 1em;
    }
    .type-story, .museum-person-text{
        padding: 0 15% 0 0;
    }
    .new-story{
        padding: 0 10% 0 0;
    }
    .new-story{
        margin-top: 0;
        margin-left: 0;
    }
    .type-story p, .new-story p, .museum-person-text--p{
        margin-bottom: 1rem;
    }
    .dragon{
        background-size: 120%;
        height: 500px;
    }
}

/*=======================================под телефоны===================================*/
/*@media (orientation: landscape) {*/
    /*.display-off {*/
        /*display: block;*/
    /*}*/
    /*.display-on {*/
        /*display: none;*/
    /*}*/
/*}*/

/*!* portrait (портретный) - это режим, в котором высота viewport больше ширины *!*/
/*@media (orientation: portrait) {*/
    /*.display-off {*/
        /*display: none;*/
    /*}*/
    /*.display-on {*/
        /*display: block;*/
    /*}*/
/*}*/
/*=======================================================================================*/

@media only screen and (max-width: 768px) {
    #hero {
        display: none;
    }
    #hero-mobile {
        display: block;
    }
    .img-start-story--top{
        margin-top: -50px;
    }
    .p-tb-20{
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .hamburger{
        padding-right: 20px !important;
    }
    .u-header__section .nav-link{
        color: #10114a;
    }
    .u-header__section:hover .nav-link:hover{
        color: #bf436d;
    }
    body{
        background-image: url("../img/start_img/new/fon.svg");
        background-position: left top;
    }
    .ribka-style{
        background-image: url(../img/ribka/riba_mobile.svg);
    }
    .display-block{
        display: none;
    }
    .display-none{
        display: block;
    }
    .type-story, .new-story, .museum-person-text{
        padding: 0 15% 0 10%;
    }
    .new-story{
        margin-top: 15%;
        margin-left: 0;
    }
    .type-story p, .new-story p, .museum-person-text--p{
        margin-bottom: 1rem;
    }
    .ptiza-style{
        background-image: url(../img/ptiza/fon_mobile.png);
    }
    .museum-person{
        background-image: url(../img/dragon/fon_mobile.svg);
    }
    .museum-person-text{
        margin-top: 25%;
        z-index: 20;
    }
    .pl-mobile{
        padding-left: 1rem;
    }
    .p-15-0{
        padding: 0.5rem 1.07143rem 1.07143rem 0;
    }
    .footer-clouds{
        top: 130px;
    }
    .mt-story{
        margin-top: -20px;
        padding-bottom: 1em;
    }
    .dragon{
        background: url("../img/dragon/dragon-static-mobile.jpg") no-repeat left top/cover;
        background-size: 100%;
        height: 620px;
    }
    .block-search{
        width: 90%;
    }
    .pt-media{
        padding-top: 50px;
    }
    ._df_book-cover{
        height: 230px !important;
    }
    .g-bg-img {
        background: url("../img/header-mobile.svg") center no-repeat !important;
        background-size: 100%;
        height: 50%;
    }
}


