@media only screen and (max-width: 1080px){
    .p-20-10{
        padding: 10% 10% 0 10%;
    }
}
/*=======================================под телефоны===================================*/
/*@media (orientation: landscape) {*/
    /*.display-off {*/
        /*display: block;*/
    /*}*/
    /*.display-on {*/
        /*display: none;*/
    /*}*/
/*}*/

/*!* portrait (портретный) - это режим, в котором высота viewport больше ширины *!*/
/*@media (orientation: portrait) {*/
    /*.display-off {*/
        /*display: none;*/
    /*}*/
    /*.display-on {*/
        /*display: block;*/
    /*}*/
/*}*/
/*=======================================================================================*/

@media only screen and (max-width: 768px) {
    #hero {
        display: none;
    }
    #hero-mobile {
        display: block;
    }
    .img-start-story--top{
        margin-top: -50px;
    }
    .p-tb-20{
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .container-mobile{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .hamburger{
        padding-right: 20px !important;
    }
    .u-header__section .nav-link{
        color: #10114a;
    }
    .u-header__section:hover .nav-link:hover{
        color: #bf436d;
    }
    body{
        background-image: url("../img/start_img/new/fon.svg");
        background-position: left top;
    }
    .ribka-style{
        background-image: url(../img/ribka/riba_mobile.svg);
    }
    .display-block{
        display: none;
    }
    .display-none{
        display: block;
    }
    .type-story, .new-story, .museum-person-text{
        padding: 0 15% 0 10%;
    }
    .new-story{
        margin-top: 15%;
        margin-left: 0;
    }
    .type-story p, .new-story p, .museum-person-text--p{
        margin-bottom: 1rem;
    }
    .ptiza-style{
        background-image: url(../img/ptiza/fon_mobile.svg);
    }
    .museum-person{
        background-image: url(../img/dragon/fon_mobile.svg);
    }
    .museum-person-text{
        margin-top: 15%;
        z-index: 20;
    }
    .pl-mobile{
        padding-left: 1rem;
    }
    .p-15-0{
        padding: 0.5rem 1.07143rem 1.07143rem 0;
    }
    .footer-clouds{
        top:130px;
    }
}


