@import "media.css";

.layer-bg {
    background-image: url("../img/story/cat-anime.gif");
    background-position: left top;
}
.layer-4 {
    margin-top: -4px;
    background-image: url("../img/museum/plan-museum-amine.gif");
    /*background-size: 100%;*/
}

#hero, .layer {
    min-height: 500px !important;
}

#hero {
    height: 500px !important;
}
/*.footer-img-story{*/
    /*height: 150px;*/
    /*margin-top: 40px;*/
/*}*/
.img-start-story--top{
    margin-top: -150px !important;
}

.person-style-block{
    margin-left: 25px;
    width: 200px;
    height: 200px;
    border: 10px solid #e8e8e8;
}
.br-museum1{
    background: url("../img/museum/domskazok.jpg") center no-repeat;
    background-size: 100%;
}
.br-museum2{
    background: url("../img/museum/skazkadom.JPG") center no-repeat;
    background-size: 100%;
}
.br-museum3{
    background: url("../img/museum/polanaskazok.jpg") center no-repeat;
    background-size: 100%;
}
.br-museum4{
    background: url("../img/museum/snegurochka.jpg") center no-repeat;
    background-size: 100%;
}

.text-style{
    content: "";
    position: absolute;
    padding: 10% 15% 0 5%;
    height: 200px;
    letter-spacing: 1px;
    font-size: 1em;
    padding: 1em 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(40%, 0, 0);
    transform: translate3d(40%, 0, 0);
}
.p-15-0{
    padding: 0.5rem 1.07143rem 1.07143rem 0;
}
.u-header__section .nav-link {
    color: #fff;
}
.br-25{
    border-radius: 2rem;
}