@import "media.css";

body{
    background-image: url("../img/story/cat-anime.gif");
    background-size: 300%;
    background-position: left top;
}

.layer-bg {
    background-image: url("../img/story/cat-anime.gif");
    background-position: left top;
}
.layer-4 {
    margin-top: -4px;
    background: url("../img/redshapka/plan3.jpg")0 60% no-repeat;
    background-size: 100%;
}

#hero, .layer {
    min-height: 500px !important;
}

#hero {
    height: 500px !important;
}

#hero-mobile {
    display: none;
    background: url("../img/redshapka/start-mobile.jpg") no-repeat left top/cover;
    background-size: 100%;
    height: 250px;
}
/*.hamburger-inner{*/
    /*background-color: #bf436d;*/
/*}*/

.footer-img-story{
    height: 150px;
    margin-top: 40px;
}
.img-start-story--top{
    margin-top: -150px !important;
}

.person-style-block{
    margin-left: 25px;
    width: 200px;
    height: 200px;
    border: 10px solid #e8e8e8;
}

.text-style{
    content: "";
    position: absolute;
    padding: 10% 15% 0 5%;
    height: 200px;
    letter-spacing: 1px;
    font-size: 1em;
    padding: 1em 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(40%, 0, 0);
    transform: translate3d(40%, 0, 0);
}
.p-0-6{
    padding: 0 6rem !important;
}
.p-15-0{
    padding: 0.5rem 1.07143rem 1.07143rem 0;
}
.u-header__section .nav-link {
    color: #fff;
}
.no-gutters {
    background: rgba(191,67,109,1) !important;
    border-radius: 20px;
    padding: 30px 20px 20px 20px;
    color: white;
}
.g-transition--ease-in{
    box-shadow: rgba(16, 36, 94, 0.4) 0px 2px 6px 0px;
}